/* Text styles */
.xr_s0 {font-family:Times New Roman;font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#000000;background-color:Transparent;-webkit-text-stroke: 0px black;letter-spacing:0em;}
